/* globals
----------------------------------------------------------------------------- */
#site-wrapper {
  width: 100%;
  max-width: 1000px;
  padding: 3rem 20px;
  margin: 0 auto;
  background: #fff;
}

<<<<<<< HEAD
h1,
p {
  margin-bottom: 1rem;
=======
img {
  width: 100%;
}

.article-card {
  background: pink;
  padding: 10px;
  margin: 10px 0;
>>>>>>> ea745bf9bdb6f521890a85289d4a61d82043c084
}
