/* globals
----------------------------------------------------------------------------- */
#site-wrapper {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  background: #fff;
}

img {
  width: 100%;
}

.article-card {
  background: pink;
  padding: 10px;
  margin: 10px 0;
}
